[Unit]
Description=OpenID oauth2 service (auth.c3voc.de)

[Service]
User=oauth2
Type=simple
WorkingDirectory=/var/www/002-auth.c3voc.de/voc-oauth
ExecStart=/var/www/002-auth.c3voc.de/voc-oauth/venv3/bin/python3 /var/www/002-auth.c3voc.de/voc-oauth/manage.py runserver 127.0.0.1:8031

[Install]
WantedBy=multi-user.target
