{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}

<section>
    <div class="container">
        <h1 class="jumbotron-heading">{% trans 'Welcome' %}{% if user.is_authenticated %} {{ user.username }}{% endif %}!</h1>
	<p class="lead text-muted">{% trans 'C3VOC OpenID Connect 1.0 Provider.<br/>Built with the <a href="https://www.djangoproject.com/" target="_BLANK"><u>Django Framework</u></a> and <a href="https://github.com/juanifioren/django-oidc-provider" target="_BLANK"><u>django-oidc-provider</u></a> package.' %}</p>
	{% if user.is_authenticated %}
        <p><a href="{% url 'admin:index' %}" class="btn btn-primary btn-lg">{% trans 'User Admin' %}</a></p>
	{% endif %}
    </div>
</section>

{% endblock %}
